*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(24, 24, 115);
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
}

.container{
    display: inline-block;
}
main{
    border: 2px solid red;
    width: 50%;
    height: 250vh;
    margin-top: 100px;
    font-size: 30px;
    padding: 20px;
    line-height: 20px;
    margin-left: 10vw ;

    
}

main p{
    border: 2px solid black;
    padding: 20px;
    line-height: 50px;
    height: 150vh;
}

.right-container{
    width: 20vw;
    background-color: rgb(213, 88, 108);
    position: fixed;
    top: 0;
    margin-top: 100px;
    right: 10px;
    height: 80vh;
    
}
footer{
    background-color: rgb(136, 21, 134);
    height: 12vh;
    width: 100%;
    position: fixed;
    bottom: 0;

}